In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [2]:
#!pip install psycopg2-binary

In [3]:
#!pip install psycopg2

In [4]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [6]:
database_name = 'Prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [8]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [10]:
import pandas as pd

First, let's write a meaningful query.

In [42]:
query_1 = '''With tn_prescriber As (
	Select p.npi As npi,
	fc.*,
	population.population
From prescriber as p
Left Join zip_fips as zf
On p.nppes_provider_zip5 = zf.zip
Left Join fips_county as fc
On zf.fipscounty = fc.fipscounty
Left Join population
On zf.fipscounty = population.fipscounty
Where p.nppes_provider_state Like 'TN'),
	opioid_prescriptions As(
	Select prescriber.nppes_provider_last_org_name As last_name,
		prescription.*,
		d.*
	From prescriber
	Left Join prescription
	Using (npi)
	Left Join drug as d
	Using (drug_name)
	Where prescriber.nppes_provider_state Like 'TN'
		And d.opioid_drug_flag Like 'Y'
	Order By 2)
Select tn_prescriber.county,
	Sum(opioid_prescriptions.total_claim_count) As opioid_count,
	tn_prescriber.population,
	Round(sum(opioid_prescriptions.total_claim_count)/population, 4) As opioid_ratio
From tn_prescriber
Left Join opioid_prescriptions
On tn_prescriber.npi = opioid_prescriptions.npi
Where tn_prescriber.population Is Not Null
Group By 1, 3
Order By 4 DESC;'''

Now, bring it all together using the following syntax.

In [44]:
with engine.connect() as connection:
   counties = pd.read_sql(text(query_1), con = connection)

counties.head()

      county  opioid_count  population  opioid_ratio
0      MOORE       44689.0      6302.0        7.0912
1    JACKSON       60726.0     11573.0        5.2472
2  VAN BUREN       23578.0      5675.0        4.1547
3  TROUSDALE       29060.0      8773.0        3.3124
4    OVERTON       63335.0     21995.0        2.8795

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python

,drug_name,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,...,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,LISINOPRIL,1.174632e+09,CHANG,MARK,W,MD,M,I,2428 KNOB CREEK ROAD,None,...,221.0,None,550.5,16515.0,2419.70,LISINOPRIL,N,N,N,N
1,AMIODARONE HCL,1.912954e+09,GOLDFARB,MARK,S,M.D.,M,I,4230 HARDING RD,SUITE 330,...,NaN,#,NaN,NaN,NaN,AMIODARONE HCL,N,N,N,N
2,AMITRIPTYLINE HCL,1.952345e+09,DIXON,BRYCE,W,M.D.,M,I,300 20TH AVE N,9TH FLOOR,...,25.0,None,57.0,1710.0,545.15,AMITRIPTYLINE HCL,N,N,N,N
3,RAMIPRIL,1.477711e+09,FURR,JOE,None,M.D.,M,I,975 E. THIRD STREET,None,...,13.0,None,23.0,690.0,120.03,RAMIPRIL,N,N,N,N
4,RALOXIFENE HCL,1.942295e+09,LEITHERLAND,EDNA,R,FNP APN,F,I,1123 N MAIN ST,None,...,18.0,None,26.0,780.0,1927.78,RALOXIFENE HCL,N,N,N,N